.content {
  max-width: 720px;
  margin: 0 auto;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

filbutton {
  margin: "0 5px";
  padding: "10px 20px";
  color: "#fff";
  border: "none";
  cursor: "pointer";
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  list-style-type: none;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #ffffff;
  color: white;
}

/* Style the header */
.header {
  background-color: #165fa8;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.container {
  background-color: #165fa8;
  padding: 0px 0px 20px 0px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
input[type="text"] {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.add-button {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.back-button {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  border: none;
  float: right;
  margin-left: 10px;
}

.add-fillter {
  width: 100%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.add-button:hover {
  background-color: #bbb;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-item {
  flex-grow: 1; /* Biarkan elemen ini tumbuh untuk mengisi sebanyak mungkin ruang */
  cursor: pointer;
}

.edit {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 0;
  padding: 12px 16px;
}

.edit:hover {
  background-color: #fed400;
  color: white;
}

.edit-form {
  width: 100%;
}
